<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>HomeTurfDomain</key>
	<string>https://ci-app.hometurfapp.com/</string>
	<key>HomeTurfTeamId</key>
	<string>441766b9-0f24-11e2-8525-18a905767e44</string>
	<key>HomeTurfUseNativeAuth0</key>
	<false/>
	<key>HomeTurfAuth0Domain</key>
	<string>dev-p428fe5m.us.auth0.com</string>
	<key>HomeTurfAuth0ClientId</key>
	<string>sm2iY4OwL0Pcp2wfzY6X2MIPnO18awFN</string>
	<key>HomeTurfAuth0Audience</key>
	<string>https://api.hometurfapp.com/v1/api/</string>
</dict>
</plist>
